/* src/global.css */
nav {
    background-color: #333;
    padding: 1em;
    display: flex;
    align-items: center;
    color: white; /* Ensures all text within nav has a white color */
  }
  nav a {
    color: white;
    margin-right: 1em;
    text-decoration: none;
    cursor: pointer;
  }
  main {
    padding: 2em;
  }